/*BOTONES*/
.button {
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

#btnAñadir {
    -fx-background-color: #00bcd4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btnVaciar {
    -fx-background-color: #ff5252;
    -fx-text-fill: white;
}

/* clase-> producto esté comprado */
.producto-comprado {
    -fx-text-fill: #a0a0a0;
    -fx-strikethrough: true;
}
